{% extends "base.html.twig" %}

{% block body %}
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title">
                Header
            </h5>

            Body

            <div class="alert alert-primary mt-3" role="alert">
                This is a primary alert—check it out!
            </div>
        </div>
    </div>
{% endblock %}
